<form action="/login" method="POST">

<p>
    <label for="email">Email:</lable>
    <input type="text" name="email" id="email" />
</p>

<p>
    <label for="password">Password:</lable>
    <input type="password" name="password" id="password" />
</p>

<input type="submit" value="Login" />

</form>

<a href="/">Back</a>